HELP.md
target/
.DS_Store
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### VS Code ###
.vscode/
.pmd
.pmdruleset.xml
src/main/resources/.DS_Store
mvnw
mvnw.cmd
.classpath
.project
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
